
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(9, 36, 59);
  background-image: url("backgroundimg-01.jpg");
  background-size: 100%;
  background-repeat:repeat;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container{
  padding: 10px;
  background-color: white;
  width: 800px;
  height: 605px;
  border-radius: 10px;

}
.containers {
  padding: 16px;
  background-color: white;
  width: 250px;
  border-radius: 50px;
  text-align: center;
  height: auto ;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 25px;
 
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 25px;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;

}

form {
    position: absolute;
    right: 0%;
    left: 30%;
    width: fit-content;
   
}

.home{
  position: absolute;
  right: 0%;
  left: 30%;
  width: 1150px;
}

/*Navigation Bar*/
.navbar {
    float: right;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.navbar ul {
	list-style: none;
	background-color: #333;
	padding: 0;
	margin : 0;
	text-align: right;
} .navbar li {
	display: inline-block;
	}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*Navigation bar Drop DOwn menu*/
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(9, 163, 58);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*h1*/
h1{
   text-align: center;
}
